.text-login {
	color: #2ecc71;
}
.floating-label {
	font-size: 200%;
	color: red;
}
#btn-submit {
	background-color: #8cc63f; 
	border: 1px solid #8cc63f; 
	color: #fff;
}
#btn-submit:hover {
	background-color: #2ecc71; 
	border: 1px solid #2ecc71; 
	color: #fff;
}

#btn-facebook {
	background-color: #3b5998;
	border: 1px solid #3b5998;
	color: #fff;
}
#btn-facebook:hover {
	background-color: #3867CA;
	border: 1px solid #3867CA;
}
#login-block-center-plusCss {
	color: #2ecc71;
}
#form-fields-wrapper-plusCss {
	max-width: 25em;
}
#form-control-wrapper-plusCss {
	
}
.color-53A524 {
	color: #2ecc71;
}
.color-009587 {
	color: #009587; 
	font-size: 110%;	
	margin-bottom: 5%;
}
#input-email-plusCss {
	color: #009587; 
	font-size: 110%;	
	margin-bottom: 5%;
}
#input-area-plusCss {
	color: #009587; 
	margin-bottom: 5%;
}
#input-city-plusCss {
	color: #009587; 
	margin-bottom: 5%;
}
#floating-label-plusCss {
	color: #2ecc71;
}
.error {
	color:#FFF;
}
.padding-zero {
	padding-left: 0;
	padding-right: 0;
}
.select-color {
	color:#5BCC71;
}
.select-title {
	color:#5BCC71;
}
.margin-bottom {
	margin-bottom: 10%;
}
#btn-google {
background-color: #3b5998;
border: 1px solid #3b5998;
color: #fff;
}
/*---social button----*/


/*===end social button=======*/
.login-block {
	padding-bottom: 2em;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
	.login-background  {
		height: 50em;
	}
}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
	.login-background  {
		height: 50em;
	}
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
	.login-background  {
		height: 90em;
	}
}
/* Landscape phones and portrait tablets */
@media (min-width: 481px) and (max-width: 767px) {
	.login-background  {
		height: 80em;
	}
}
/* Landscape phones and smaller */
@media (max-width: 480px) {
	.login-background  {
		height: 100em;
	}
}

